
body
{
    overflow-x:hidden;
    margin:0;
    background-image: url("Frame 5.png");
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width: 768px)
{
    nav
    {
        animation: nav 1s;
        position:fixed ;
        display: grid;
        grid-template-columns: 12.5vw 25vw 25vw 25vw 12.5vw;
        width:100%;
        align-items: center;
        height:10vh;
        background: #453C41;

    }
    .Nav_Item1,
    .Nav_Item2,
    .Nav_Item3
    {
        animation: nav 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        font-family: sans-serif;
        text-align: center;
        font-size:2vw;
        text-decoration: none;
        color:white;
    }
    .Nav_Selection
    {
        animation: nav 1s;
        font-family: "Yu Gothic UI Light";
        width:10vw;
        height:4.5vh;
        align-content: center;
        background: #D4DBE2;
        font-size: 1vw;
    }
    .Info
    {
        animation: info 2s;
        padding-left: 3vw;
        font-family: "Yu Gothic UI Light";
        margin-top: 10vh;
        font-size: 2.5vw;
        width:60%;
        height: 450%;
        background: rgb(212, 219, 226, 0.8);
        padding-bottom: 3vw;
    }
    .Info1-2,
    .Info2-1,
    .Info2-2,
    .Info3-1,
    .Info3-2,
    .Info4-1,
    .Info4-2,
    .Info5-1,
    .Info5-2,
    .Info6-1,
    .Info6-2,
    .Info7-1,
    .Info7-2,
    .Info8-1,
    .Info8-2,
    .Info9-1,
    .Info9-2,
    .Info10-1,
    .Info10-2,
    .Info11-1,
    .Info11-2,
    .Info12-1,
    .Info12-2,
    .Info13-1,
    .Info13-2,
    .Info14-1,
    .Info14-2,
    .Info15-1,
    .Info15-2,
    .Info16-1,
    .Info16-2,
    .Info17-1,
    .Info17-2,
    .Info18-1,
    .Info18-2,
    .Info19-1,
    .Info19-2,
    .Info20-1,
    .Info20-2,
    .Info21-1,
    .Info21-2,
    .Info22-1,
    .Info22-2,
    .Info23-1,
    .Info23-2,
    .Info24-1,
    .Info24-2,
    .Info25-1,
    .Info25-2
    {
        display:none;
        animation: info 2s;
        padding-left: 3vw;
        font-family: "Yu Gothic UI Light";
        margin-top: 10vh;
        font-size: 2.5vw;
        width:60%;
        height: 450%;
        background: rgb(212, 219, 226, 0.8);
        padding-bottom: 3vw;
    }
}
@media(max-width: 426px)
{
    nav
    {
        animation: nav 1s;
        position:fixed ;
        display: grid;
        grid-template-columns: 20vw 26vw 26vw 26vw ;
        width:100%;
        align-items: center;
        height:6.5vh;
        background: #453C41;

    }
    .Nav_Item1,
    .Nav_Item2,
    .Nav_Item3
    {
        animation: nav 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.5vh;
        font-family: sans-serif;
        text-align: center;
        font-size:2.5vw;
        text-decoration: none;
        color:white;

    }

    .Nav_Selection
    {
        animation: nav 1s;
        font-family: "Yu Gothic UI Light";
        width:20vw;
        height:3vh;
        align-content: center;
        background: #D4DBE2;
        font-size: 2.5vw;
    }
    .Info
     {
         animation: info 2s;
         padding-left: 3vw;
         font-family: "Yu Gothic UI Light";
         margin-top: 6.5vh;
         font-size: 2.5vw;
         width:60%;
         height: 450%;
         background: rgb(212, 219, 226, 0.8);
         padding-bottom: 3vw;
     }
    .Info1-2,
    .Info2-1,
    .Info2-2,
    .Info3-1,
    .Info3-2,
    .Info4-1,
    .Info4-2,
    .Info5-1,
    .Info5-2,
    .Info6-1,
    .Info6-2,
    .Info7-1,
    .Info7-2,
    .Info8-1,
    .Info8-2,
    .Info9-1,
    .Info9-2,
    .Info10-1,
    .Info10-2,
    .Info11-1,
    .Info11-2,
    .Info12-1,
    .Info12-2,
    .Info13-1,
    .Info13-2,
    .Info14-1,
    .Info14-2,
    .Info15-1,
    .Info15-2,
    .Info16-1,
    .Info16-2,
    .Info17-1,
    .Info17-2
    .Info18-1,
    .Info18-2,
    .Info19-1,
    .Info19-2,
    .Info20-1,
    .Info20-2,
    .Info21-1,
    .Info21-2,
    .Info22-1,
    .Info22-2,
    .Info23-1,
    .Info23-2,
    .Info24-1,
    .Info24-2,
    .Info25-1,
    .Info25-2
    {
        display:none;
        animation: info 2s;
        padding-left: 3vw;
        font-family: "Yu Gothic UI Light";
        margin-top: 6.5vh;
        font-size: 2.5vw;
        width:60%;
        height: 450%;
        background: rgb(212, 219, 226, 0.8);
        padding-bottom: 3vw;
    }
}
@keyframes nav {
    from{margin-top:-10vw;}
}
@keyframes info
{
    from{margin-top:-600%; margin-bottom: 600%;}
}

.Nav_Item2:active,
.Nav_Item1:active,
.Nav_Item3:active
{
    background: #7B7C81;
}

.Select_Start
{
    display: none;
}

.Flex_Info
{
    display: flex;
    justify-content: center;
}
.Nav_Logo
{
    height:4vh;
 display: flex;
    justify-content: center;
    align-items: center;
}

footer
{
    display: flex;
    align-items:center;
    background: #453C41;
    color:white;
}
footer>ul
{    font-size: 1.5vw;
    font-family: sans-serif;
    list-style-type: none;
}
.Select_Start
{
 display: none;
}
.Important
{
    color:red;
}
.Info_Item {
    color:white;
    text-decoration: none;
}
.Test
{
    display: none ;
}
.Test>a
{
    display: none;
    text-decoration: none;
    color:white;
}
